[Desktop Entry]
Type=Application
Encoding=UTF-8
Exec=/bin/bash -c 'python /home/$USER/.config/WallpaperSelect/WallpaperSelect.py'
Name=Wallpaper Select
Icon=systemsettings
Terminal=false
GenericName=Wallpaper Engine and Waypaper tool
Categories=Utility;GTK;DesktopSettings;
Comment=Change wallpaper on Wayland
